@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Prompt:ital,wght@0,500;1,400&family=Quicksand:wght@400;500&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(3, 71, 49);
 
} 
.startcontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 7rem;
    border-radius: 20px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 15px 15px 10px rgba(0,0,0,.2);
}
.startcontainer h3
{
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
#testbtn
{
    padding: 10px 30px;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.2s ease-in;
    border-radius: 5px;
    background-color: #000;
}
#testbtn:hover
{
    color: #fff;
  box-shadow: inset -140px 0px 0px 0px rgb(247, 67, 67),inset 140px 0px 0px 0px rgb(247, 67, 67);
}
.wrapper
{
    display: none;
    background-color:rgb(214, 194, 128);
    height: auto;
    width: 500px;
    border-radius:20px;
    border: 1px solid rgb(136, 136, 136);
    padding: 25px;
}
.timer
{
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.8);
    color: rgb(0, 0, 0);
}
.timer h4
{
    margin-left: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.timer img
{
   margin-bottom: 5px;
   margin-left: 28px
}
#time
{
    text-align: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}
#timing{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 100px;
    background: transparent;
    margin-right: 25px;
}
.question
{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
#question
{
    font-size: 17px;
    margin-right: 5px;
    margin-left: 5px;
}
.answer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
#qno
{
    color: rgb(0, 0, 0);
}
.answer h4
{
    width: 80%;
    border: 1px solid rgb(75, 75, 75);
    padding: 10px 0px;
    margin-top: 0;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.80);
    color: rgb(0, 0, 0);
}
h3{
    color: #fff;
}
.green
{
    background-color: rgb(100, 255, 100);
    color: rgb(1, 61, 1);
}
.red
{
    color: rgb(75, 4, 4);
    background-color: rgb(245, 96, 96);
}
.scoreshow
{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: 200px;
    width: 400px;
    border-radius: 20px;
}
#backbtn
{
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}
.circlecontainer {
    height: 450px;
    width: 550px;
    background-color: #D6C280;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 10px 15px 15px 10px rgba(0,0,0,.2);
    display: grid;
    place-items: center;
  }
  .circular-progress {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color:#D6C280;
    border-radius: 50%;
  }
  .value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #000000;
  }

